# Server Configurations
SERVER_PORT=8080

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=portofolio
DB_USERNAME=postgres
DB_PASSWORD=postgres

# JWT Configurations (Security)
JWT_SECRET=your_super_secret_minimum_32_character_signing_key_here
JWT_EXPIRATION_MS=86400000

# Redis Configuration (Cache)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
